<div class="bg-gray-200 p-2 rounded-md">
    <p>Ride from <%= ride.pickup_location%> to <%= ride.destination%> </p>
    <p>From <%= ride.customer.email%> </p>
    <%= link_to 'Accept trip', available_rides_path(ride_id: ride.id), class:"bg-blue-500 p-2 rounded-md text-gray-50", data: {turbo_method: :post} %>
</div>